{% extends 'index.html' %}

{% block title %}<title>Modificaci&oacuten de un Pintorreo</title> {% endblock %}

{% block pub %}<li class="dropdown active">{% endblock %}

{% block content%}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{pub.title}}</h3>
          </div>
          
          <form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
          
          <div class="panel-body" align="center">
            <div class="row">
              <div class="col-md-12 col-lg-12 " align="center"> 
              
                <img alt="User Pic" src="{{MEDIA_URL}}{{pub.imagePub}}" class="img-circle img-responsive img-profile"> 
              
              <input id="id_imagePub" name="{{formP.imagePub.name}}" type="file" class="btn btn-default">
              <br>
              </div>

                
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>T&iacutetulo:</td>
                        <td>
                          <div class="col-sm-11 col-md-11 col-lg-11">
                            <input id="id_title" name="{{formP.title.name}}" type="text" value="{{pub.title}}" placeholder="Titulo" class="form-control">
                          </div>
                        </td>
                      </tr>
                    <tr>
                      <td>Descripci&oacuten:</td>
                      <td>
                        <div class="col-sm-11 col-md-11 col-lg-11">
                          <textarea id="id_descriptionPub" name="{{formP.descriptionPub.name}}" type="test" value="" placeholder="Descripción Breve" class="form-control">{{pub.descriptionPub}}</textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Seleccione una Categor&iacutea:</td>
                      <td>
                        <div class="col-sm-11 col-md-11 col-lg-11">
                          {{formP.CatPub}}
                        
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <input type="hidden" name="{{formP.UserPub.name}}" value="{{formP.UserPub.value}}">
                <input type="reset" class="btn btn-primary" value="Volver a Valores Anteriores">
                <input type="submit" class="btn btn-primary" value="Modificar datos">
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <button type="reset" class="btn btn-sm btn-danger" value=""><i class="glyphicon glyphicon-remove"></i>
            </button>
            <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-warning" value=""><i class="glyphicon glyphicon-edit"></i>
            </button>
                            
            </span>
          </div>
          </form> 
           
        </div>
      </div>
    </div>
  </div>
{% endblock %}
