/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
  background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
  background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
.navbar-footer 
{
    background: #46CCFC;
background-color: #46CCFC;
    
    background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
background: #46CCFC;
background-image: -webkit-gradient(	
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #46CCFC)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #46CCFC 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #46CCFC 100%);
}
