<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Pintorreate</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/login2.css" rel="stylesheet">

</head>
<body background-color: white>

<div class="login">

		<a href="#" class="logologuin"><img src="/static/img/logologuin.png"/></a><br><br>
           	
	</div>

{% block content %}

{% endblock %}

    <footer class="pie2">
        <p center>&copy; Diego Ceballos Mora - Programaci&oacuten Web - Septiembre 2014</p>
    </footer>

</body>
</html>
